{% extends 'main.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}
<h2 style="text-align: center">Регистрация</h2>
<div class="reg">
    <form class="reg_form" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <!--Логин-->
            <label for="{{ form.username.id_for_label }}">Логин * </label>
            {{ form.username }}
            {{ form.username.errors }}

        <!--Пароль-->
            <label for="{{ form.password1.id_for_label }}">Пароль * </label>
            {{ form.password1 }}
            {{ form.password2.errors }}

        <!--Подтверждение пароля-->
            <label for="{{ form.password2.id_for_label }}">Подтверждение пароля * </label>
            {{ form.password2 }}

        <!--Пол-->
            <label for="{{ form2.gender.id_for_label }}">Пол * </label>
            {{ form2.gender }}
            {{ form2.gender.errors }}

        <!--Возраст-->
            <label for="{{ form2.age.id_for_label }}">Возраст * </label>
            {{ form2.age }}
            {{ form2.age.errors }}

        <!--Имя-->
            <label for="{{ form3.first_name.id_for_label }}">Имя </label>
            {{ form3.first_name }}
            {{ form3.first_name.errors }}

        <!--Фамилия-->
            <label for="{{ form3.last_name.id_for_label }}">Фамилия </label>
            {{ form3.last_name }}
            {{ form3.last_name.errors }}

        <!--Email-->
            <label for="{{ form3.email.id_for_label }}">Email </label>
            {{ form3.email }}
            {{ form3.email.errors }}

        <div class="superstar">
            Поля отмеченные звездочкой (*) обязательны для заполнения!
        </div>

        <button class="btn_regr" type="submit">Зарегестрироваться</button>

        </form>

</div>
{% endblock %}
