# Tell Travis you want a Python environment to test in
language: python
# List the versions of Python you'd like to test against
python:
  - "3.6"
# List the versions of Django you'd like to test against
env:
  - DJANGO_VERSION=2.0.2
# Tell it the things it will need to install when it boots
install: 
  - pip install -r requirements.txt
  - pip install -r test-requirements.txt
# Tell Travis how to run the test script itself
jobs:
  include:
    - stage: flake8
      script: flake8 --count *.py
    - stage: django tests
      script:
        - cd bookshelf
        - python manage.py test
