{% extends 'main.html' %}

{% load static %}

{% block content %}

    <table class="block" align="center">

        {% for book in books %}
            <tr>
                <td>
                    <div class="book" align="center">
                        {% if book.bigImage %}
                            {{ book.bigImage }}
                        {% else %}
                            <img class="book" src="{% static 'nfbook.png' %}">
                        {% endif %}
                    </div>
                </td>
                <td valign="top">
                    <div class="book-inf">
                        <a class="title-link" href="/book/{{ book.id }}">
                            <div class="book-title">
                                {{ book.title }}
                            </div>
                        </a>
                        <br>
                        {% for author in book.author.all %}
                            {{ author }}
                        {% endfor %}
                        <br> <br>
                        Тут когда-нибудь будет краткое или урезанное описание.
                        Но сейчас этим заниматься никто не будет.
                        <br>
                        {% if book.description %}
                            {{ book.description }}
                        {% else %}
                            Описание книги отсутствет
                            <br>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}

    </table>

    <p>
        {% if prev_page != "-1" %}
            <a style="text-decoration: none" href="/books/p{{ prev_page }}">
            <img src="{% static 'l.png' %}" alt="Предыдущая">
            </a>
        {% endif %}

        {% if next_page %}
            <a style="text-decoration: none" href="/books/p{{ next_page }}">
                <img src="{% static 'r.png' %}" alt="Следующая">
            </a>
        {% endif %}
    </p>
{% endblock %}
