{% extends 'main.html' %}

{% load static %}

{% block content %}
    <table class="block" align="center">
        {% for bookrow in books %}
            <tr>
                {% for book in bookrow %}
                    <td align="center" style="width: 200px">
                        <a href="/book/{{ book.id }}">
                            {% if book.middleImage %}
                                <img src="{{ book.middleImage.url }}"/>
                            {% else %}
                                <img src="{% static 'nfbookm.jpg' %}">
                            {% endif %}
                        </a>
                        <div>
                            <a class="title-link" href="/book/{{ book.id }}">
                                <div class="books-title">
                                    {{ book.title }}
                                </div>
                            </a>
                            <div style="font-size: small">
                                {% for author in book.author.all %}
                                    {{ author }}
                                {% endfor %}
                            </div>
                        </div>
                    </td>

                {% endfor %}
            </tr>
        {% endfor %}

    </table>

    <p align="center">
        {% if prev_page != "-1" %}
            <a style="text-decoration: none" href="/books/p{{ prev_page }}">
                <img src="{% static 'l.png' %}" alt="Предыдущая">
            </a>
        {% endif %}

        {% if next_page %}
            <a style="text-decoration: none" href="/books/p{{ next_page }}">
                <img src="{% static 'r.png' %}" alt="Следующая">
            </a>
        {% endif %}
    </p>
{% endblock %}
