body {
    margin: 0;
    font-family: 'Droid Serif', arial;
    font-size: 11pt;
}

button {
    font-family: 'Droid Serif', arial;
}

button, select, input:active, button, input:focus {
  outline: none !important;
}
button, select, input::-moz-focus-inner {
  border: 0 !important;
}

header, section, footer, aside, nav, article {
    display: block;
}

.top_section {
    background: url(/static/head.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.name {
    position: relative;
    top: 20px;
    background: url(/static/name.png);
    height: 100px;
    background-repeat: no-repeat;
    margin: auto;
    background-position: center;
    z-index: 0;
}

.head_right {
    float: right;
    width: 12%;
    text-align: right;
    right: 5%;
    color: white;
    top: 32px;
    position: absolute;
    z-index: 1;
}

a.link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #D3D3D3;
    text-decoration: underline;
}

a.login-link {
    position: relative;
}

a.link-forgot {
    color: black;
    text-decoration: none;
    float: left;
    padding-top: 2px;
}

.login-form {
    padding-right: 8px;
    margin-top: 15px;
    padding-left: 8px;
    background-color: white;
    opacity: .9;
    position: absolute;
    border-radius: 3px;
    font-size: 14px;
}

.button {
    height: 25px;
    width: 55px;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    background: -ms-linear-gradient(top, #fff, #ededed);
    background-image: -o-linear-gradient(top, #fff, #ededed);
    border-radius: 4px;
    color: black;
}

.button:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top, #fff, #dcdcdc);
    background: -ms-linear-gradient(top, #fff, #dcdcdc);
    background-image: -o-linear-gradient(top, #fff, #dcdcdc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

.button:active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top, #ededed, #fff);
    background: -ms-linear-gradient(top, #ededed, #fff);
    background-image: -o-linear-gradient(top, #ededed, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.nav {
    position: relative;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    border-spacing: 30px 0;
    margin: auto;
    letter-spacing: 1px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

.bottompan {
    left: 0px;
    width: 100%;
    padding-top: 1%;
    border-top: 1px solid #40304a;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    bottom: 0px;
    z-index: 2;
    padding-bottom: 1%;
}

.bottompan .search_field {
    min-width: 430px;
    max-width: 40%;
    margin: -30px auto 0 auto;
    position: relative;
}

.bottompan .search_field form {
    padding: 0 10px;
}

.bottompan .search_field form input[type='text'] {
    width: 100%;
    padding: 7px;
}

.bottompan .search_field form input[type='submit'] {
    width: 26px;
    height: 100%;
    background: url(/static/search_icon.png) no-repeat left 3px;
    padding: 0;
    border: none;
    position: absolute;
    z-index: 1;
    right: 18px;
    top: 2px;
    text-indent: 9000px;
    overflow: hidden;
}

:root {
    --footer_height: 70px;
}

.content {
    min-height: calc(100vh - 224px - var(--footer_height) - 60px);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15%;
    margin-right: 15%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: var(--footer_height);
    background: rgba(14, 14, 14, 0.85);
}

.footer_text {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 15px;
}

.reg {
    min-width: 430px;
    max-width: 40%;
    margin: auto;
}

.reg_form label {
    grid-column: 1 / 2;
}

.reg_form input, select {
    grid-column: 2 / 3;
    margin-bottom: 1rem;
}

.reg_form {
    display: grid;
}


input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    background-color: white;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

select {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
    -webkit-appearance: menulist;
    -mos-appearance: menulist;
}

.superstar {
    color: red;
    font-size: 13px;
    padding-bottom: 10px;
    text-align: center;
}

.errorlist {
    font-size: 12px;
    color: red;
}

.btn_regr {
    text-align: center;
    margin: 20px auto 0 auto;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border-width: 1px 1px;
    border-style: solid none;
    border-color: white;
    border-radius: 4px;
    height: 35px;
    width: 160px;
    color: black;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
    background: -ms-linear-gradient(top, #fff, #ededed);
    background-image: -o-linear-gradient(top, #fff, #ededed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

.btn_regr:hover {
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top, #fff, #dcdcdc);
    background: -ms-linear-gradient(top, #fff, #dcdcdc);
    background-image: -o-linear-gradient(top, #fff, #dcdcdc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

.btn_regr :active {
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top, #ededed, #fff);
    background: -ms-linear-gradient(top, #ededed, #fff);
    background-image: -o-linear-gradient(top, #ededed, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

#upbutton {
    background: url(/static/up.png) no-repeat top left;
    height: 60px;
    width: 60px;
    bottom: 30px;
    right: 60px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
}

.oops {
    height: 210px;
    width: 260px;
    background: url(/static/oops.png) no-repeat;
    background-size: contain;
    position: relative;
    left: 50%;
    right: 50%;
    margin-top: 70px;
    transform: translate(-50%);
}

.book {
    min-width: 200px;
}

.book img {
    position: relative;
    max-width: 100%;
    height: auto;
}

.book-inf {
    min-width: 250px;
    vertical-align: top;
}

.block {
    min-width: 200px;
}

tr.border_top td {
    border-top: 1pt solid #848484;
    padding-bottom: 10px;
}

ul {
    list-style: none;
}

.rating {
    float: left;
}

.rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
    text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating > label:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.book-title {
    font-size: large;
    font-weight: bold;
}

.books-title {
    font-size: smaller;
    font-weight: bold;
}

.title-link {
    text-decoration: none;
    color: black;
}

a.title-link:hover {
    color: darkred;
    text-decoration: none;
}

.col {
    overflow: hidden;
    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.275s ease-in-out, visibility 0s 0.275s;
    transition: all 0.275s ease-in-out, visibility 0s 0.275s;
    visibility: hidden;
    will-change: transform;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.row:hover ~ .row .slide {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.row:hover .slide {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.row:hover .col:hover ~ .col .slide {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.row:hover .col:hover .slide {
    -webkit-transform: none;
    transform: none;
    visibility: visible;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 2rem;
    max-width: 1200px;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.col {
    color: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 260px;
    position: relative;
}

.col h2 {
    font-weight: 300;
    font-size: 14pt;
    line-height: 1.25;
    margin: 0;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 0;
}

.col:nth-child(2) {
    min-width: 20%;
}

.col:nth-child(4) {
    min-width: 33%;
}

.col:nth-child(3) + .col:nth-child(3) {
    min-width: 50%;
}

.photo-container {
    background: #0f0523 50% 50% / cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
}

.photo-container::before {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(rgba(100, 76, 44, 0.5)), to(#000000));
    background: linear-gradient(transparent, rgba(100, 76, 44, 0.5), #000000);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.col:hover .photo-container {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

.slide {
    background: rgba(107, 69, 60, 0.8);
    padding: 0 1.5rem;
}
