body {
    margin: 0;
}

header, section, footer, aside, nav, article {
  display: block;
}

.top_section {
    background: url(/static/head.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.name {
	position: relative;
	top: 20px;
	background: url(/static/name.png);
	height: 100px;
	background-repeat: no-repeat;
	margin: auto;
	background-position: center;
	z-index: 0;
}

.head_right {
    float: right;
    width: 12%;
    text-align: right;
    right: 5%;
    color: white;
    top: 32px;
    position: absolute;
    z-index: 1;
}

a.link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #D3D3D3;
    text-decoration: underline;
}

a.login-link {
    position: relative;
}

a.link-forgot {
    color: black;
    text-decoration: none;
    float: left;
    padding-top: 2px;
}

.login-form {
    padding-right: 8px;
    margin-top: 15px;
    padding-left: 8px;
    background-color: white;
    opacity: .9;
    position: absolute;
    border-radius: 3px;
    font-size: 14px;
}

.button {
    height: 25px;
    width: 55px;
    background-color: #F5DEB3;
    border-width: 1px 1px ;
    border-style: solid none;
    border-color: white;
    border-radius: 4px;
    color: black;
}

.nav {
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  border-spacing: 30px 0;
  margin: auto;
  letter-spacing: 1px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.bottompan {
	left: 0px;
	width: 100%;
	padding-top: 1%;
	border-top: 1px solid #40304a;
	background-color: rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.8);
	position: relative;
	bottom: 0px;
    padding-bottom: 1%;
}

.bottompan .search_field {
	min-width: 430px;
	max-width: 40%;
	margin: -30px auto 0 auto;
	position: relative;
}

.bottompan .search_field form {
	padding: 0 10px;
}

.bottompan .search_field form input[type='text'] {
	width: 100%;
	padding: 7px;
}

.bottompan .search_field form input[type='submit'] {
	width: 26px;
	height: 100%;
	background: url(/static/search_icon.png) no-repeat left 3px;
	padding: 0;
	border: none;
	position: absolute;
	right: 0;
	top: 2px;
	text-indent: 9000px;
	overflow: hidden;
}

:root {
    --footer_height : 70px;
}

.content {
    min-height: calc(100vh - 224px - var(--footer_height) - 60px);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15%;
    margin-right: 15%;
}

footer {
   position: relative;
   bottom: 0;
   width: 100%;
   height: var(--footer_height);
   background: rgba(14,14,14,0.85);
}

.footer_text {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 15px;
}

.reg{
    min-width: 430px;
	max-width: 40%;
	margin: auto;
}

.fieldWrapper {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.fieldWrapper input, select {
    float: right;
    width: 220px;
}

.superstar {
    color: red;
    font-size: 13px;
    padding-bottom: 10px;
    text-align: center;
}

.errorlist {
    font-size: 13px;
    color: red;
}

.btn_regr {
    margin: 20px auto 0 auto;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    border-width: 1px 1px ;
    border-style: solid none;
    border-color: white;
    border-radius: 4px;
    height: 35px;
    width: 160px;
	color: black;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	background: -ms-linear-gradient(top,  #fff,  #ededed);
    background-image: -o-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

.btn_regr:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	background: -ms-linear-gradient(top,  #fff,  #dcdcdc);
    background-image: -o-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

.btn_regr :active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	background: -ms-linear-gradient(top,  #ededed,  #fff);
    background-image: -o-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

#upbutton {
    background: url(/static/up.png) no-repeat top left;
    height: 60px;
    width: 60px;
    bottom: 30px;
    right: 60px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
}

.oops{
    height: 210px;
    width: 260px;
    background: url(/static/oops.png) no-repeat;
    background-size: contain;
    position: relative;
    left: 50%;
    right: 50%;
    margin-top: 70px;
    transform: translate(-50%);
}

.book {
    /*width: 280px;*/
    /*width: 30%;*/
    min-width: 200px;
}

.book img {
    position: relative;
    max-width: 100%;
    height: auto;
}

.book-inf {
    min-width: 250px;
    vertical-align: top;
}

.block{ min-width: 200px; }

tr.border_top td {
  border-top: 1pt solid #848484;
  padding-bottom: 10px;
}

ul{
    list-style: none;
}

.rating {
    float:left;
}

.rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float: right;
    width :1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
    text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.book-title {
    font-size: large;
    font-weight: bold;
}

.title-link {
    text-decoration: none;
    color: black;
}

a.title-link:hover {
    color: darkred;
    text-decoration: none;
}
